body{
    background-color: #f2f4f978;
}

#login .right {
    float: right;
    width: 45%;
    margin-top: 7%;
    padding: 2%;
}

#login .left {
    float: left;
    width: 55%;
    height: 650px;
    background-color: lightblue;
}

.right h2 {
    text-align: center;
}

.right .ui.card {
    width: 100%;
}

#login .right form .field {
    margin-bottom: 5% !important;
}



#register .right form .field {
    margin-bottom: 1.5% !important;
}

.right button[type=submit] {
    background-color: #29c32f;
    color: #fff;
    width: 100%;
}

.right a {
    color: #29c32f;
}

#login .right .bottom {
    text-align: center;
    font-size: 1.1em;
    margin-top: 5%;
}

#register .right .bottom {
    text-align: center;
    font-size: 1.1em;
    margin-top: 3%;
}

input[type="text"]:focus,
input[type="password"]:focus {
    color: #29c32f !important;
}

.right .ui .message {
    text-align: center;
}

#register {
    margin: 3% 15%;
}

i.notched.circle.loading.icon{
    color: #29c32f;
    display: none;
}
i.check.icon{
    color: #29c32f;
    display: none;
}